@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*============ Global Vars ============*/

$navy: #1ebba3;


/*============ RESET ============*/

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #505962;
}

/*--- Nav Scrolling Offset --*/
/* EXL: scroll to corresponding <div> */
.offset {
	&:before {
		height: 4rem;
		margin-top: -4rem;
		content: "";
		display: block;
	}
}

.caption {
	padding: 0 2rem;
}

/*--- Extra Bootstrap Column Padding --*/
/* EXL: CSS Attribute Selector => https://www.w3schools.com/css/css_attribute_selectors.asp */
[class*="col-"] {  /* select any class contain 'col-' */
	padding: 1rem;
}


/*============ NAVIGATION ============*/

#logo {
	height: 2rem;
}

.navbar-toggler {
	border: solid 1px white;
	border-radius: .2;
	#burger {
		color: white;
		font-size: 1.5rem;
	}
}


.navbar {
	padding: .7rem 2rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	/* EXL: 0.5 sec transition with 0 sec delay */
	transition: background-color .5s ease 0s;

	&.solid {
		background: rgba(0, 0, 0, .7)!important;
		transition: background-color 1s ease 0s;
	}
}

.navbar-nav {
	li {
		padding-right: .8rem;
	}
	.nav-link {
		color: white;
		padding: .8rem 0 0;

		&.active, &:hover {
			color: $navy;
		}
	}
}

/*============ LANDING IMG ============*/

.home-inner {
	background-image: url('img/bg.jpg');
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
	h1 {
		color: white;
		font-size: 4rem;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .3rem;
		text-shadow: .25rem .25rem .8rem black;
		padding-bottom: 1rem;
	}
	h3 {
		color: white;
		font-size: 2.5rem;
		// text-transform: uppercase;
		font-weight: 400;
		text-shadow: .1rem .1rem .4rem black;
		padding-bottom: 2rem;
	}
	.btn-lg {
		border-width: thin;
		border-radius: 0;
		padding: .8rem 1.5rem;
		font-size: 1.1rem;
		font-weight: 400;
		display: inline-block !important;  // for iPhone center display
	}
}

/*============ FEATURES SECTION ============*/

.narrow {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
	text-align: center;
}

.btn-sm {
	border-width: medium;
	border-radius: 0;
	padding: .5rem 1.1rem;
	margin: 1rem;
	font-size: .9rem;
	font-weight: 400;
	text-transform: uppercase;
}

.btn-turquoise {
	border-color: $navy;
	background-color: $navy;
	color: white;
	&:hover, &:focus {
		border-color: darken($navy, 15%);
		background-color: darken($navy, 15%);
		color: white;
	}
}

.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
	padding: 1rem 0 3rem;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.heading-underline {
	width: 5rem;
	height: .2rem;
	background-color: $navy;
	margin: 0 auto 2rem;
}

.feature {
	.fa-layers {
		color: $navy;
		height: 6rem;
	}
	h3 {
		font-size: 1.3rem;
		text-transform: uppercase;
		padding-bottom: .4rem;
	}
	p {
		font-size: 1.1rem;
	}
}

/*============ FIXED IMG DARK ============*/

#fixed {
	background-image: url('img/fixed/apple.png');
	z-index: 1;
}

.dark {
	background-color: rgba(0, 0, 0, .75);
	padding: 7rem 2rem;
	text-align: center;
	z-index: 999 !important;
	h3, p {
		color: lightgray;
	}
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
